* {
    padding: 0;
    margin: 0;
}

:root {
    --main-font: 'Poppins', sans-serif;
    --title-font-color: #2F281E;
    --text-font-color: #544837;
}

body { 
font-family: var(--main-font)
}

.page--wrapper {
    padding-bottom: 20px;
}

.container {
    width: 100%;
    max-width: 943px;
    margin: 0 auto;
}

.header {
    margin-bottom: 111px;
}

.header__menu {
    margin-bottom: 30px;
}

/*
.header__menu-logo {
    width: 185px;
}
*/

.item {
    display: inline-block;
}

.header__menu-item {
    list-style: none;
}

.header__image {
    max-width: 604px;
}