* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --title-font: 'Francois One', sans-serif;
    --text-font: 'PT Sans', sans-serif;
    --super-font: 'Farro', sans-serif;
    --text-font-color: #000000;
}
 
.container {
    margin: 0 auto 70px;    
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 13px 0;
    background: #FFFFFF;
}

.header__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding: 13px 120px;
}

.header__lang {
    font-family: 'Tourney', cursive;
    font-weight: 600;
    font-size: 22px; 
}

.header__content {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: 'Staatliches', cursive;
    font-size: 22px;
}

.header__logo {
    position: absolute;
    top: 13px;
    right: 120px;
}

.bg-img {
    position: fixed;
    top: 150px;
    right: 0;
    z-index: -10;
}

.wrapper {
    width: 100hw;
    padding-top: 150px;
    display: flex;
    gap: 30px;
    margin: 0 120px 0 120px;
}

.sidebar__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 70px;
    position: sticky;
    top: 80px;
    left: 120px;
    width: 385px;
    padding: 10px 0 10px 10px
}

.title, .sidebar__title {
    font-family: var(--title-font);
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.sidebar__title::after {
    content: '';
    display: block;
    height: 1px;
    background: #C9C9C9; 
    width: 365px;
    margin-bottom: 9px;
}

.title {
    margin-bottom: 40px;
}

.title::before {
    content: '';
    display: block;
    height: 8px;
    background: var(--text-font-color);
    width: 100px; 
    margin: 0 0 20px;
}

.sup-text {
    font-family: var(--super-font);
    font-weight: 300;
    font-size: 20px;
    vertical-align: 22px;
    text-transform: none;
}

.text {
    font-family: var(--text-font);
    font-size: 28px;
    line-height: 48px;
}

.text-underline {
    text-decoration: underline;
}

.text-italic {
    font-style: italic;
}

.text-bold {
    font-weight: 700;
}

.text-background {
    background-color: #C9C9C9;
}

.react-fundamentals__container > .text {
    margin-bottom: 40px;
}

.text-input__container {
    padding-bottom: 90px;
}