* {
    padding: 0;
    margin: 0;
    transition: all .1s ease-in;
}

:root {
    --main-font: 'Roboto', sans-serif;
    --main-font-color: #FF8984;
}

body {
    font-family: var(--main-font);
    color: var(--main-font-color)
}

.page--wrapper {
    width: 100%;
    max-width: 793px;
    height: 507px;
    margin: 0 auto;
    background: #3B3F45;
}

.header {
    width: 100%;
    max-width: 793px;
    height: 82px;
    text-align: center;
    background: #4A4F56;
}

.header__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding-top: 19px;
}

.header__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-top: 4px;
}

.list {
    display: block;
    width: 100%;
    max-width: 534px;
    height: 270px;
    margin: 20px auto 0;
    list-style-type: none; 
}

.list > .list__item, .footer {
    display: block;
    width: 534px;
    font-weight: 400;
    font-size: 18px;
}

.list__item {
    line-height: 39px;
    color: white;
    background: #88839E;
    border-top: 3px solid #88839E;
    border-bottom: 3px solid #88839E;
}

.list__item:only-child {
    width: 100%;
}

.list__item:nth-child(2n) {
    background: #7A7593;
    border-top: 3px solid #7A7593;
    border-bottom: 3px solid #7A7593;
}

.label {
    display: block;
    height: 39px;
    padding-left: 12px; 
    margin: auto;
}

.check {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.item::before {
    content: '';
    display: inline-block;
    width: 19px;
    height: 19px;
    background-color: #ffffff;
    margin-right: 16px;
    margin-top: 9px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.pickles::after {
    content: "(for the next lessons about CSS)";
}
  
.apples::after {
    content: "(for more CSS manipulations)";
}
  
.oranges::after {
    content: "(because they are awesome)";
}
  
.plates::after {
    content: "(hm... they always disappear)";
}
  
.bottle::after {
    content: "(for my friends)"; 
}

:after {
    font-weight: 400;
    font-size: 11px;
    line-height: 45px;
    padding-left: 6px;
    vertical-align: top;
}

.list__item:hover {
    background: #625E77;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
}

.list__item:active {
    background-color: #EB7E7F;
}

.check:checked + .item::before {
    background-image: url(../images/check.jpg);
}

.check:checked + .item {
    text-decoration: line-through 1px solid #9B96AC;
}

.footer {
    line-height: 45px;
    color: var(--main-font-color);
    background: #4A4F56;
    text-align: center;
    margin: auto;
    margin-top: 45px;
}

