* {
    padding: 0;
    margin: 0;
    transition: all .1s ease-in;
}

:root {
    --main-font: 'Roboto', sans-serif;
    --main-font-color: #FF8984;
}

body {
    font-family: var(--main-font);
    color: var(--main-font-color)
}

.page--wrapper {
    width: 100%;
    max-width: 793px;
    margin: 0 auto;
    background: #3B3F45;
    padding-bottom: 45px;
}

.header {
    text-align: center;
    background: #4A4F56;
    padding: 19px 0 30px;
    margin-bottom: 20px;
}

.header__title {
    font-size: 24px;
    margin-bottom: 5px;
}

.list {
    margin: 0 auto;
    list-style-type: none;
    margin-bottom: 45px;
    color: white;
}

.list, .footer {
    width: 534px;
    font-size: 18px;
}

.list__item {
    background: #88839E;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding: 10px 12px;
}

.list__item:nth-child(2n) {
    background: #7A7593;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.label {
    width: 100%;
    display: block;
}

.check {
    position: absolute;
    opacity: 0;
}

.item::before {
    content: '';
    display: inline-block;
    width: 19px;
    height: 19px;
    background-color: #ffffff;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.pickles::after {
    content: "(for the next lessons about CSS)";
}
  
.apples::after {
    content: "(for more CSS manipulations)";
}
  
.oranges::after {
    content: "(because they are awesome)";
}
  
.plates::after {
    content: "(hm... they always disappear)";
}
  
.bottle::after {
    content: "(for my friends)"; 
}

:after {
    font-size: 11px;
    margin-left: 10px;
}

.list__item:hover {
    background: #625E77;
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
}

.list__item:active {
    background-color: #EB7E7F;
}

.check:checked + .item::before {
    background-image: url(../images/check.jpg);
}

.check:checked + .item {
    text-decoration: line-through 1px solid #9B96AC;
}

.footer {
        color: var(--main-font-color);
        background: #4A4F56;
        text-align: center;
        margin: auto;
        padding: 15px 0;
}