* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --title-font: 'Roboto', sans-serif;
    --text-font: 'PT Sans', sans-serif;
    --text-font-color: #000000;
}

body {
    color: var(--text-font-color);
    font-size: 36px;
    line-height: 48px;  
}

.page--wrap {
    width: 100%;
    max-width: 1852px;
    margin: 0 auto;
    padding: 12px 24px 497px 44px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 82px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 42px;
    font-family: var(--title-font);
    font-size: 20px;
    line-height: 23px;
}

.header__lang {
    color: #FFFFFF;
    text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0;   
}

.doc__number {
    font-size: 28px;
}

.doc__title {
    font-family: var(--title-font);
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 75px;
}

.doc__text {
    font-family: var(--text-font);
    margin-bottom: 100px;
}

.text__underline {
    text-decoration: underline;
}

.text__bold {
    font-weight: 700;
}

.text__background {
    background-color: #C9C9C9;
}