* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --title-font: 'Francois One', sans-serif;
    --text-font: 'PT Sans', sans-serif;
    --super-font: 'Farro', sans-serif;
    --text-font-color: #000000;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;    
}

.header {
    padding: 13px 0;
    margin-bottom: 70px;
}

.header__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding: 16px 0;
    position: relative;
}

.header__lang {
    font-family: 'Tourney', cursive;
    font-weight: 600;
    font-size: 22px; 
}

.header__content {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: 'Staatliches', cursive;
    font-size: 22px;
}

.header__logo {
    position: absolute;
    top: 0;
    right: 0;
}

.main__container {
    padding-bottom: 90px;
}

.doc__title {
    font-family: var(--title-font);
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 40px;
}


.chapter {
    font-family: var(--super-font);
    font-weight: 300;
    font-size: 20px;
    vertical-align: 22px;
    text-transform: none;
}

.doc__text {
    font-family: var(--text-font);
    font-size: 28px;
    line-height: 48px;
    margin-bottom: 70px;
}

.text__underline {
    text-decoration: underline;
}

.text__italic {
    font-style: italic;
}

.text__bold {
    font-weight: 700;
}

.text__background {
    background-color: #C9C9C9;
}